In [1]:
import pandas as pd

In [2]:
cleaner = pd.read_csv('./otter_data_cleaning.csv', sep='\u0001')

/var/folders/_7/4ybfgjcj1f10b_0pmwylvx_80000gn/T/ipykernel_41663/2048608269.py:1: DtypeWarning: Columns (0,4,5,6,8,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  cleaner = pd.read_csv('./otter_data_cleaning.csv', sep='\u0001')

In [3]:
cleaner

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744.0,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,True,loco_coco,NaN,NaN,NaN
1,4903.0,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,False,musubi,NaN,NaN,NaN
2,4723.0,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,False,the_bakers_lounge,NaN,NaN,NaN
3,4128.0,Parm - Battery Park City,caviar,NaN,40.71418,-74.015568,NaN,US,True,parm_-_battery_park_city,NaN,NaN,NaN
4,5690.0,Derek Test Merchant,caviar,NaN,1.0,2.0,NaN,US,False,derek_test_merchant,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
644084,310366,Sam's Chicken Land,doordash,doordash,43.049693,-76.19728,NaN,US,True,sam_s_chicken_land,NaN,7000,NaN
644085,255320,H Salt Fish & Chips,doordash,doordash,34.283007,-118.439891,NaN,US,True,h_salt_fish_chips,NaN,7000,NaN
644086,50091,Mamani Pizza,doordash,doordash,40.727648,-73.982669,NaN,US,True,mamani_pizza,NaN,1750,NaN
644087,284336,Dimartino's Famous New Orleans Muffulettas,doordash,doordash,29.892899,-90.121679,NaN,US,True,dimartino_s_famous_new_orleans_muffulettas,NaN,7000,NaN
644088,320489,Rosita's Restaurant,doordash,doordash,26.212951,-98.193914,NaN,US,True,rosita_s_restaurant,NaN,7000,NaN

In [4]:
cleaner = cleaner[~cleaner.restaurant_id.isna()]
cleaner

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744.0,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,True,loco_coco,NaN,NaN,NaN
1,4903.0,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,False,musubi,NaN,NaN,NaN
2,4723.0,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,False,the_bakers_lounge,NaN,NaN,NaN
3,4128.0,Parm - Battery Park City,caviar,NaN,40.71418,-74.015568,NaN,US,True,parm_-_battery_park_city,NaN,NaN,NaN
4,5690.0,Derek Test Merchant,caviar,NaN,1.0,2.0,NaN,US,False,derek_test_merchant,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
644084,310366,Sam's Chicken Land,doordash,doordash,43.049693,-76.19728,NaN,US,True,sam_s_chicken_land,NaN,7000,NaN
644085,255320,H Salt Fish & Chips,doordash,doordash,34.283007,-118.439891,NaN,US,True,h_salt_fish_chips,NaN,7000,NaN
644086,50091,Mamani Pizza,doordash,doordash,40.727648,-73.982669,NaN,US,True,mamani_pizza,NaN,1750,NaN
644087,284336,Dimartino's Famous New Orleans Muffulettas,doordash,doordash,29.892899,-90.121679,NaN,US,True,dimartino_s_famous_new_orleans_muffulettas,NaN,7000,NaN
644088,320489,Rosita's Restaurant,doordash,doordash,26.212951,-98.193914,NaN,US,True,rosita_s_restaurant,NaN,7000,NaN

In [5]:
cleaner.restaurant_id = cleaner.restaurant_id.astype('object')

/var/folders/_7/4ybfgjcj1f10b_0pmwylvx_80000gn/T/ipykernel_41663/734071662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaner.restaurant_id = cleaner.restaurant_id.astype('object')

In [6]:
cleaner

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744.0,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,True,loco_coco,NaN,NaN,NaN
1,4903.0,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,False,musubi,NaN,NaN,NaN
2,4723.0,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,False,the_bakers_lounge,NaN,NaN,NaN
3,4128.0,Parm - Battery Park City,caviar,NaN,40.71418,-74.015568,NaN,US,True,parm_-_battery_park_city,NaN,NaN,NaN
4,5690.0,Derek Test Merchant,caviar,NaN,1.0,2.0,NaN,US,False,derek_test_merchant,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
644084,310366,Sam's Chicken Land,doordash,doordash,43.049693,-76.19728,NaN,US,True,sam_s_chicken_land,NaN,7000,NaN
644085,255320,H Salt Fish & Chips,doordash,doordash,34.283007,-118.439891,NaN,US,True,h_salt_fish_chips,NaN,7000,NaN
644086,50091,Mamani Pizza,doordash,doordash,40.727648,-73.982669,NaN,US,True,mamani_pizza,NaN,1750,NaN
644087,284336,Dimartino's Famous New Orleans Muffulettas,doordash,doordash,29.892899,-90.121679,NaN,US,True,dimartino_s_famous_new_orleans_muffulettas,NaN,7000,NaN
644088,320489,Rosita's Restaurant,doordash,doordash,26.212951,-98.193914,NaN,US,True,rosita_s_restaurant,NaN,7000,NaN

In [7]:
cleaner

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744.0,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,True,loco_coco,NaN,NaN,NaN
1,4903.0,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,False,musubi,NaN,NaN,NaN
2,4723.0,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,False,the_bakers_lounge,NaN,NaN,NaN
3,4128.0,Parm - Battery Park City,caviar,NaN,40.71418,-74.015568,NaN,US,True,parm_-_battery_park_city,NaN,NaN,NaN
4,5690.0,Derek Test Merchant,caviar,NaN,1.0,2.0,NaN,US,False,derek_test_merchant,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
644084,310366,Sam's Chicken Land,doordash,doordash,43.049693,-76.19728,NaN,US,True,sam_s_chicken_land,NaN,7000,NaN
644085,255320,H Salt Fish & Chips,doordash,doordash,34.283007,-118.439891,NaN,US,True,h_salt_fish_chips,NaN,7000,NaN
644086,50091,Mamani Pizza,doordash,doordash,40.727648,-73.982669,NaN,US,True,mamani_pizza,NaN,1750,NaN
644087,284336,Dimartino's Famous New Orleans Muffulettas,doordash,doordash,29.892899,-90.121679,NaN,US,True,dimartino_s_famous_new_orleans_muffulettas,NaN,7000,NaN
644088,320489,Rosita's Restaurant,doordash,doordash,26.212951,-98.193914,NaN,US,True,rosita_s_restaurant,NaN,7000,NaN

In [8]:
cleaner[cleaner.restaurant_id.isna()]

Empty DataFrame
Columns: [restaurant_id, name, platform, sub_platform, latitude, longitude, city, country, active, standardized_name, restaurant_chain, delivery_radius, geom]
Index: []

In [9]:
# cleaner[cleaner['name'].str.contains('Kreation')]
cleaned_data = cleaner.dropna(subset=['name'])
result = cleaned_data[cleaned_data['name'].str.contains('Kreation')]
result

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
9735,7240.0,Kreation Organic,caviar,NaN,34.039743,-118.298741,NaN,US,True,kreation_organic,NaN,NaN,NaN
48266,354761.0,Kreation Organic,grubhub,grubhub,33.886566,-118.41024,NaN,US,True,kreation_organic,NaN,NaN,NaN
48418,354782.0,Kreation Organic,grubhub,grubhub,34.08447,-118.384447,NaN,US,True,kreation_organic,NaN,NaN,NaN
55806,343249.0,Kreation Organic,grubhub,grubhub,34.029816,-118.498436,NaN,US,True,kreation_organic,NaN,NaN,NaN
61118,354764.0,Kreation Organic,grubhub,grubhub,34.158449,-118.822922,NaN,US,True,kreation_organic,NaN,NaN,NaN
65641,354744,Kreation Organic,grubhub,grubhub,33.92232513,-118.4163284,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
82971,354756,Kreation Organic,grubhub,grubhub,33.979447,-118.439841,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
86774,503838,Kreation Organic,grubhub,grubhub,34.039743,-118.298741,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
88938,343501,Kreation Organic,grubhub,grubhub,34.07291793,-118.3741608,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
90705,343300,Kreation Organic (Abbott Kinney),grubhub,grubhub,33.99121093,-118.4691315,NaN,US,TRUE,kreation_organic_abbott_kinney,NaN,NaN,NaN
97497,354682,Kreation Organic,grubhub,grubhub,34.0696907,-118.4059219,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
121649,b30237c2-ca93-4ec4-be15-7807d6e66639,Kreation Organic Juicery,postmates,restaurant,34.06567,-118.468979,NaN,US,TRUE,kreation_organic_juicery,NaN,NaN,NaN
134934,7a6a1d09-da2e-4459-b008-9cf32a3bf0dc,Kreation Organic Juicery - Brentwood,ubereats,ubereats,34.065619,-118.469106,Los Angeles,US,TRUE,kreation_organic_juicery_-_brentwood,NaN,NaN,NaN
139054,343741,Kreation Organic,grubhub,grubhub,34.07373428,-118.3239136,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
139166,354691,Kreation Organic,grubhub,grubhub,34.065004,-118.399169,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
150550,354725,Kreation Organic,grubhub,grubhub,34.06552,-118.469261,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
169971,86f629c0-71a9-4883-bfec-27c6ca219df3,Kreation Organic - S Manhattan Bch,ubereats,ubereats,33.886546,-118.410317,Manhattan Beach,US,TRUE,kreation_organic_-_s_manhattan_bch,NaN,NaN,NaN
169979,4b1dc584-fc50-4659-a78c-5b8b5fd30f04,Kreation Organic Juicery - Westlake,ubereats,ubereats,34.158112,-118.822817,Thousand Oaks,US,TRUE,kreation_organic_juicery_-_westlake,NaN,NaN,NaN
169987,36f00e38-2795-4d98-ab19-13a68504dc85,Kreation Organic Juicery - West Hollywood,ubereats,ubereats,34.084429,-118.384303,West Hollywood,US,TRUE,kreation_organic_juicery_-_west_hollywood,NaN,NaN,NaN
169990,a9f124fa-3a30-4c97-92e4-936ea39c6e65,Kreation Organic Kafe & Juicery - Toluca Lake,ubereats,ubereats,34.15246,-118.351194,Los Angeles,US,TRUE,kreation_organic_kafe_juicery_-_toluca_lake,NaN,NaN,NaN
169991,4ca591ee-5bd2-4e19-b39a-ec7019756e6f,Kreation Organic Juicery - Pasadena,ubereats,ubereats,34.142978,-118.132526,Pasadena,US,TRUE,kreation_organic_juicery_-_pasadena,NaN,NaN,NaN
169995,0ffe16f9-64ea-4513-84b2-614f05597681,Kreation Organic Juicery - South Beverly Hills,ubereats,ubereats,34.065147,-118.399472,Beverly Hills,US,TRUE,kreation_organic_juicery_-_south_beverly_hills,NaN,NaN,NaN
169997,3dd9718c-92ff-41b8-93f8-25b8255079c3,Kreation Organic Juicery - North Beverly Hills,ubereats,ubereats,34.069689,-118.405922,Beverly Hills,US,TRUE,kreation_organic_juicery_-_north_beverly_hills,NaN,NaN,NaN
169998,65c3f752-8bc3-4304-9493-62c7ecca0c34,Kreation Organic Juicery - El Segundo,ubereats,ubereats,33.922329,-118.416224,El Segundo,US,TRUE,kreation_organic_juicery_-_el_segundo,NaN,NaN,NaN
169999,76f97008-9106-4ed2-83f2-7265558768a7,Kreation Kafe & Juicery - Larchmont,ubereats,ubereats,34.073698,-118.323948,Los Angeles,US,TRUE,kreation_kafe_juicery_-_larchmont,NaN,NaN,NaN
170002,520f2719-3499-4a2d-a7fa-c7bbf38e13c5,Kreation Organic Juicery - Marina Del Rey,ubereats,ubereats,33.979261,-118.438398,Marina del Rey,US,TRUE,kreation_organic_juicery_-_marina_del_rey,NaN,NaN,NaN
189593,6e2df21a-9728-4a53-bb7b-1c7e6abb2b9e,Kreation Organic Juicery and Kafe,postmates,restaurant,33.99124976,-118.4691029,NaN,US,TRUE,kreation_organic_juicery_and_kafe,NaN,NaN,NaN
197911,a46d95c3-db85-4f9e-bc0a-aa736e7eca87,Kreation Organic Kafe & Juicery (3rd Street),ubereats,ubereats,34.072899,-118.374201,Los Angeles,US,TRUE,kreation_organic_kafe_juicery_3rd_street,NaN,NaN,NaN
199205,2f37f439-b1e8-48cd-9cb9-027f8c244e78,Kreation Organic,postmates,restaurant,34.0397434,-118.298741,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
201703,ac261458-747a-4a78-bd21-e775808e2cd7,Kreation Organic Juicery,postmates,restaurant,33.91637,-118.413106,NaN,US,TRUE,kreation_organic_juicery,NaN,NaN,NaN
210585,2f1a1100-02e3-4a93-8f0f-ec96f383ada0,Kreation Organic Kafe & Juicery - Venice,ubereats,ubereats,33.991181,-118.469121,Los Angeles,US,TRUE,kreation_organic_kafe_juicery_-_venice,NaN,NaN,NaN
226878,662813,Kreation Organic,grubhub,grubhub,34.14297866,-118.1325226,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
236885,354787,Kreation Organic,grubhub,grubhub,34.1524547,-118.3512075,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
245466,19b15154-0d81-4453-addf-7bfbc81780dc,Kreation Kafe & Juicery - Santa Monica (Montana),ubereats,ubereats,34.029859,-118.498503,Santa Monica,US,TRUE,kreation_kafe_juicery_-_santa_monica_montana,NaN,NaN,NaN
251326,24317cf8-4a63-46f5-b21e-54060f1f41ae,Kreation Organic Juicery and Kafe,postmates,restaurant,34.02974404,-118.4984593,NaN,US,TRUE,kreation_organic_juicery_and_kafe,NaN,NaN,NaN
283231,9e2b9f22-8d57-4d44-bca8-ca58437535cd,Kreation Organic Juicery - Downtown,ubereats,ubereats,34.039743,-118.298741,Los Angeles,US,TRUE,kreation_organic_juicery_-_downtown,NaN,NaN,NaN
297277,b1309dc7-d728-4917-ac27-0443bc9ef2c8,Kreation Organic Juicery,postmates,restaurant,34.1429777,-118.1325259,NaN,US,TRUE,kreation_organic_juicery,NaN,NaN,NaN
298945,c3c4b51a-721e-49ce-b27b-acc26d480859,Kreation Organic Kafe,postmates,restaurant,34.0735551,-118.3239233,NaN,US,TRUE,kreation_organic_kafe,NaN,NaN,NaN
301708,64b44f4b-ac3b-4b0b-9415-d8c59881752a,Kreation Organic Juicery,postmates,restaurant,33.8867197,-118.4106253,NaN,US,TRUE,kreation_organic_juicery,NaN,NaN,NaN
328175,eb52dbd1-9b8a-4706-86a7-4893d90ddc5c,Kreation Organic Juicery,postmates,restaurant,34.15222708,-118.3511801,NaN,US,TRUE,kreation_organic_juicery,NaN,NaN,NaN
333288,246764,Kreation Organic (Washington Blvd),doordash,doordash,34.0397434,-118.298741,NaN,US,TRUE,kreation_organic_washington_blvd,NaN,6500,NaN
381302,aec88f54-03ef-4c00-8dc4-8b99a8224cb1,Kreation Organic,postmates,restaurant,34.08447639,-118.3839512,NaN,US,TRUE,kreation_organic,NaN,NaN,NaN
388870,46a45ea6-cc64-42df-9c03-2017379d5e72,Kreation Organic Juicery and Kafe,postmates,restaurant,34.073053,-118.374192,NaN,US,TRUE,kreation_organic_juicery_and_kafe,NaN,NaN,NaN
431940,6c9c8efd-770c-4d5b-8cf8-f57e49ad14e1,Kreation Organic Juicery,postmates,restaurant,33.97933434,-118.4386859,NaN,US,TRUE,kreation_organic_juicery,NaN,NaN,NaN
450697,420129,Ecianaï¿½ï¿½s SWEET Kreations/Catering (Houston),doordash,doordash,29.8474637,-95.2308683,NaN,US,TRUE,eciana_s_sweet_kreations_catering_houston,NaN,7000,NaN
536767,41720,Kreation Organic (Promenade Way),doordash,doordash,34.158281,-118.823122,NaN,US,True,kreation_organic_promenade_way,NaN,10000,NaN
592764,41721,"Kreation Organic (Marina Del Rey,)",doordash,doordash,33.979261,-118.438398,NaN,US,True,kreation_organic_marina_del_rey,NaN,5800,NaN
594213,586,Kreation Organic Kafe (Montana Avenue),doordash,doordash,34.029859,-118.498503,NaN,US,True,kreation_organic_kafe_montana_avenue,NaN,5800,NaN
594252,700,Kreation Organic Kafe (Abbot Kinney),doordash,doordash,33.991181,-118.469121,NaN,US,True,kreation_organic_kafe_abbot_kinney,NaN,5800,NaN
594265,34232,Kreation Organic Kafe (3rd Street),doordash,doordash,34.07293,-118.374179,NaN,US,True,kreation_organic_kafe_3rd_street,NaN,4875,NaN
602164,41722,Kreation Organic,doordash,doordash,33.886615,-118.410166,NaN,US,True,kreation_organic,NaN,6300,NaN
602201,2341,Kreation Organic,doordash,doordash,33.900103,-118.417281,NaN,US,True,kreation_organic,NaN,6300,NaN
602225,2342,Kreation Organic,doordash,doordash,33.922329,-118.416224,NaN,US,True,kreation_organic,NaN,6800,NaN
602236,5677,Kreation Organic Juicery (Toluca Lake),doordash,doordash,34.152438,-118.351229,NaN,US,True,kreation_organic_juicery_toluca_lake,NaN,6500,NaN
602243,38046,Kreation Organic,doordash,doordash,34.069689,-118.405922,NaN,US,True,kreation_organic,NaN,4875,NaN
602245,59807,Kreation Organic Juicery,doordash,doordash,34.073735,-118.323917,NaN,US,True,kreation_organic_juicery,NaN,4875,NaN
602266,2340,Kreation Organic,doordash,doordash,34.065619,-118.469106,NaN,US,True,kreation_organic,NaN,5800,NaN
602268,402282,Kreation Organic Juicery (Pasadena),doordash,doordash,34.142978,-118.132526,NaN,US,True,kreation_organic_juicery_pasadena,NaN,6500,NaN
602278,2339,Kreation Organic,doordash,doordash,34.065147,-118.399472,NaN,US,True,kreation_organic,NaN,4875,NaN

In [10]:
cleaner[cleaner.latitude.isna()]

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
236516,Recreation & Wellness Ctr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316021,Suite 112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cleaner.head(5).to_clipboard()

In [12]:
result.sample(10).to_clipboard()

In [13]:
cleaner[['restaurant_id','name']].value_counts().reset_index()

,restaurant_id,name,count
0,",USD,[[]",[],27
1,",USD,[[""""open: 12:00","close: 21:00""""]",10
2,",USD,[[""""open: 12:00","close: 20:00""""]",9
3,",USD,[[""""open: 11:00","close: 21:00""""]",8
4,",USD,[[""""open: 12:00","close: 22:00""""]",6
...,...,...,...
643972,358136,Un Je Ne Sais Quoi,1
643973,358137,Subs N Such,1
643974,358139,The Classic Q,1
643975,358140.0,Rockland Roots,1
643976,ffffd00c-d056-4a8d-8dba-74fda8820c87,McDonald'sï¿½ï¿½ (Clark & Monroe),1

In [14]:
cleaner[

SyntaxError: unexpected EOF while parsing (2806679703.py, line 1)

In [16]:
import pandas as pd
from fuzzywuzzy import fuzz, process
from haversine import haversine

# Load the dataset
df = pd.read_csv('otter_data_cleaning.csv', sep='\u0001')
df = df[~df.restaurant_id.isna()]
df = df.dropna(subset=['name'])
df['latitude'] = df['latitude'].astype('float')
df['longitude'] = df['longitude'].astype('float')
df['restaurant_id'] = df['restaurant_id'].astype('object') 


# 1. Data Preparation:

def standardize_strings(column):
    return column.str.lower().str.strip().str.replace('[^\w\s]', '')

def round_geolocation(df):
    df['latitude'] = df['latitude'].round(4)
    df['longitude'] = df['longitude'].round(4)
    return df

df['name'] = standardize_strings(df['name'])
df['standardized_name'] = standardize_strings(df['standardized_name'])
df = round_geolocation(df)

# 2. Feature Engineering:

def extract_core_name(name):
    # Additional or different keywords can be added based on the dataset specifics
    keywords = ['downtown', 'west side', 'east side', 'north', 'south']
    for word in keywords:
        name = name.replace(word, '')
    return name.strip()

df['core_name'] = df['name'].apply(extract_core_name)

def calculate_similarity(row, column_name, choices):
    best_match = process.extractOne(row[column_name], choices)
    if best_match:
        return best_match[1]
    return 0

all_names = df['core_name'].unique().tolist()
df['similarity_score'] = df.apply(calculate_similarity, args=('core_name', all_names), axis=1)

df['name_tokens'] = df['name'].str.split()

def calculate_avg_distance(row):
    location = (row['latitude'], row['longitude'])
    all_other_locations = df[(df['restaurant_id'] != row['restaurant_id'])][['latitude', 'longitude']].values.tolist()
    if not all_other_locations:
        return 0
    avg_distance = sum(haversine(location, (lat, lon)) for lat, lon in all_other_locations) / len(all_other_locations)
    return avg_distance

df['avg_distance_to_others'] = df.apply(calculate_avg_distance, axis=1)

# Save the modified dataframe
# df.to_csv('processed_restaurant_data.csv', index=False)

/var/folders/_7/4ybfgjcj1f10b_0pmwylvx_80000gn/T/ipykernel_41663/2821330133.py:6: DtypeWarning: Columns (0,4,5,6,8,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('otter_data_cleaning.csv', sep='\u0001')

TypeError: can't multiply sequence by non-int of type 'float'